/* Estilos generales para el body y la escena */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

/* Opcional: estilos para la escena A-Frame */
a-scene {
  width: 100%;
  height: 100%;
}

/* Ejemplo de estilo para los elementos "raycastable" (para indicar que son interactivos) */
.raycastable {
  cursor: pointer;
}

/* Transición suave para botones del menú */
.menu-button {
  transition: transform 0.2s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

#headerImage:hover {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 15px;
  image-rendering: auto; /* Valor por defecto, intenta suavizar la imagen */
  box-shadow: 1px 1px 20px rgb(7, 193, 199);
}

h1 {
  margin: 0;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

/* Imagen circular */
header img {
  transition: 2s;
  width: 90px;
  height: 90px;
  box-shadow: 1px 1px 10px rgb(7, 193, 199);
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 15px;
  image-rendering: auto; /* Valor por defecto, intenta suavizar la imagen */
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #00000000;
  padding: 10px;
  z-index: 1000;
}

footer .footer-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

footer .footer-btn:hover {
  background-color: #3ddd15;
  box-shadow: 1px 1px 20px rgba(0, 255, 13, 0.3);
}

/* Colores específicos para cada botón */
footer .linkedin { background-color: #0076b568; }
footer .whatsapp { background-color: #25d36571; }
footer .email { background-color: #17234f61; }

.a-enter-vr-button {
  bottom: 80px !important; /* Aumenta el valor para que esté más arriba */
  top: auto !important;
  right: 0px !important;
}


  /* Style the hidden HTML that will be rendered as a texture */
  #html-content {
    position: absolute;
  top: -10000px; /* Lo posiciona fuera de la vista */
  width: 300px;
  height: 200px;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: center;
   
  }