.vr-experience-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.vr-experience-container.visible {
    opacity: 1;
}

.vr-content {
    width: 100%;
    height: 100%;
}

/* Eliminar header default de A-Frame */
.a-enter-vr {
    display: none !important;
}